<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.avance_proyecto1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".RutinasActivity3"
            android:exported="false" />
        <activity
            android:name=".OpcionDieta"
            android:exported="false" />
        <activity
            android:name=".RutinasActivity2"
            android:exported="false" />
        <activity
            android:name=".RutinasActivity1"
            android:exported="false" />
        <activity
            android:name=".ObjetivoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Main"
            android:exported="false" />
        <activity
            android:name=".Activity_Dieta"
            android:exported="false" />
        <activity
            android:name=".tab.Activity_Generation"
            android:exported="false" />
        <activity
            android:name=".Activity_Select_Rutine"
            android:exported="false" />
        <activity
            android:name=".Activity_Registro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RutinasActivity"
            android:exported="false" />
        <activity
            android:name=".NivelActividadActivity"
            android:exported="false" />
    </application>

</manifest>